*{
    margin: 0;
}
.cabecera{
    display: none;
}
.titulo{
    background-color: #B70F0F;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 20px;
    width: 100vw;
}
.texto1{
    text-align: center;
}
.contenedor{
    width: 100%;
    margin: 13vw 0vw 0 0vw;
    height: fit-content;
    display: block;
}
.frase{
    color: #DC001B;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin: 3vw 0vw 0 0vw;
    width: 100%;
    align-items: center;
}
.titulo2{
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
    color: #DC001B;
    margin-top: 26px;
    font-family: 'Pacifico', cursive;
    margin-top: 3vw;
}
.motivacion{
    font-size: 40px;
    background-image: url("Arbol 1.png");
    text-align: center;
    margin-bottom: 49px;
}
.frase1{
    align-content: center;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    height: fit-content;
    text-align: center;
    width: 74.06%;
    margin: 0 12.98% 84px 12.98%;
    border-radius: 8%;
}
.parrafo1{
    font-family: 'monserrat';
    font-size: 16px;  
    color: #808080;
    text-decoration: none;
    font-weight: lighter;
}
.parrafo2{
    font-family: 'monserrat';
    font-size: 18px;  
    color: #808080;
    text-decoration: none;
    font-weight: bold;
}
.parrafo3{
    text-align: center;
}
.parrafo4{
    margin: 0;
    padding: 10px;
}
.enlace3{
    color: #DC001B;
    margin: 1% 0 0 0%;
    font-weight: bold;
}
.enlace3:hover{
    color: salmon;
}
.enlace4{
    color: #DC001B;
    font-weight: bold;
}
.enlace4:hover{
    color: salmon;
}
.imagen1{
    width: 100%;
    height: 50%;
    border-radius: 8px 8px 0 0px;
}
.imagen2{
    width: 20%;
    height: 20% ;
}
.imagen3{
    width: 20px;
    height: 20px;
    color: white;
}
.imagen4{
    width: 89px;
    height: 166px;
    margin-right: 25%;
}
.imagen5{
    width: 316px;
    height: 159px;
    margin-left: 30%;
}
.imagen6 > img {
    width: 108px;
    height: 60px;
}
.titulo3{
    color: #DC001B;
    font-family: 'monserrat';
    text-decoration-style: none;
    margin-top: 3%;
}
.botonSiguiente{
    text-align: center;
    width: 100%;
    align-items: center;
    margin: 3vw 0 0 0vw;
}
.title {
    text-align: center;
    color: #444; 
}

.header{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    box-shadow: -4px 3px 26px black;
    margin: 0;
}
.imagen6.movil{
    display: block;
}


.hamburger{
    display: block;
    justify-content: right;
    background-color:transparent;
	left:0;
	top:0;
	height:30px;
	width:100%;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index:1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}
.hamburger.is-active{
  background-color:none;
}
._layer.-top{
    margin: 2.5% 0 0 50%;
}

._layer.-mid{
    margin: 2.5% 0 0 50%;
}
._layer.-bottom{
    margin: 2.5% 0 0 50%;
}
._layer{
	background:#DC001B;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}
.menuppal{
    display: block;
   background-color: rgba(255, 255, 255, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}
.menuppal ul{
  margin:0;padding:0;
}
.menuppal ul li { 
    list-style: none;
	text-align:center;
	font-family:  Arial, Helvetica;
	color:#DC001B;
	font-size:1.5rem;
	line-height:3em;
	height:3em;
    color:#DC001B;
	text-transform:none;
	font-weight:bold;
}
.menuppal ul li a{
  text-decoration:none;
  color:#DC001B;
}
.menuppal ul li a:hover{
  text-decoration:none;
  color:salmon;
}
/* 
.caja {
    display:grid;
    width: 100%;
    grid-template-columns: 77%;
    grid-template-rows: 30% 28% 30%;
    row-gap:2%;
    }
.texto {
    padding-left:21%;
    font-size:10px;
}
 
.imagen0 {
    width: 60px;
    height: 34px;
}
    
.titulo1 {
    position:relative;
    left:22%;
    font-size: 10px;
}
.caja1 {
    position:relative;
    top:25%;
    left:-20%
}
.caja3 {    
    margin-right:10%;
}
.caja2 {
    padding-top:10%;
    padding-right:10%;
    position:relative;
    left:1%;
 }
 
.texto2 {
    margin-left:15%;
}
 
.imagen7 {
    position:relative;
    left: 67%;
    top:-139%;
    width:8%;
    height:95%;
 }
 
.caja0 {
    padding-top:7%
}
 #enlace2{
     font-size: 10px;
 }
 
 .enlace1 {
    text-decoration:none;
    color:white;
    font-size: 10px;
} */


footer{
    margin-top: 25px;
}
.caja {
    background-color:#4F6271;
    border:1px solid;
    height: fit-content;
    padding: 10px 0 10px 0;
}

.caja3{
    margin: 0 0 0 3vw;
}
.caja4 {
    background-color:#E51A23;
    border:1px solid;
    width: 100vw;
}
.caja6{
    margin: 0 0 0 0vw;
}

.imagen1 {
    margin-right: 15px;
}

.texto1 {
    color:white;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin: 10px 0 0 12.5vw;
}

.titulo3 {
    color: #DC001B;
    font-family: 'Monserrat', sans-serif;
    font-size: 35px;
}
.texto {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    margin: 10px 0 0 12.5vw;
}

.texto2 {
    color:white;
    margin-left: 13vw;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
}



.imagen8 {
    height:15px;
    width:15px;
    position:relative;
}

.imagen9 {
    height:20px;
    width:20px;
    position:relative;
    margin: 20px 0 0 10%;
}


.imagen0 {
    margin: 10px 0 0 12.5vw;
    width: 60px;
    height: 34px;
}



.titulo1 {
    color:white;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    margin: 10px 0 0 12.5vw;

}
.titulo4 {
    color:white;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    

}
.caja1 {
    position:relative;
    padding-top:30px;
}

.texto3 {
    color:white;
    text-align:left;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    margin: 10px 0 0 12.5vw;
}

.enlace1 {
    text-decoration:none;
    color:white;
    font-size: 10px;
}

#enlace2 {
    text-decoration:none;
    color:white;
    font-size: 10px;
}

.caja2 {
    position:relative;
    margin: 30px 0 0 12.5vw;
    padding: 10px 0 10px 0;
}

.caja5 {
    position:relative;
    left:25px;
}