.caja {
    background-color:#4F6271;
    border:1px solid;
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 30px;

}


.caja4 {
background-color:#E51A23;
border:1px solid;


}


.imagen1 {
    margin-right: 15px;
}

.texto1 {
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding-right:15px;
    position:relative;
    right:3px;
}


.texto {
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

.texto2 {
    color:white;
    margin-left:150px;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
}

.titulo1 {
    color:white;
    position:relative;
    left: 77px;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    padding-top:10px;
    
}

.imagen2 {
    height:35px;
    width:35px;
    position:relative;
    top: 30px;
    left: 30px;
}

.caja3 {
    text-align:center;
    padding-top: 5px;
}

.imagen0 {
    padding-top:10px;
    padding-left: 150px;
}

.texto {
    padding-left:150px;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
}

.titulo {
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    

}

.caja1 {
    padding-top:10px;
}

.texto3 {
    color:white;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    position:relative;
    right:13px;

}

#enlace1 {
    text-decoration:none;
    color:white;
}

#enlace2 {
    text-decoration:none;
    color:white;
}